@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --main-color: #F3F3F3;
    --secondary-color: #2429AF;
    --text-color: #181717;
    --white: #FFFFFF;
    --primary-font: "Roboto Flex";
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #181717;
        --secondary-color: #2429AF;
        --text-color: #F3F3F3;
        --white: #000000;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;

    body {
        background-color: var(--main-color);
        font-family: var(--primary-font), sans-serif;
        font-size: 1.6rem;
    }
}