@font-face {
    font-family: "DM Sans";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/DMSans-Regular.ttf");
}

@font-face {
    font-family: "DM Sans";
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/DMSans-Medium.ttf");
}