$colors: (
    'primary': var(--main-color),
    'secondary': var(--secondary-color),
    'text': var(--text-color),
    'white': #FFFFFF,
    'black': #000000,
    'transparent': transparent,
);

@each $name, $color in $colors {
    .col-#{$name} {
        color: $color;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}

// weight
$weights: (
    '400': 400,
    '500': 500,
);

@each $name, $weight in $weights {
    .weight-#{$name} {
        font-weight: $weight;
    }
}

// displays
$displays: (
    'flex': flex,
    'inline-flex': inline-flex,
    'block': block,
    'inline-block': inline-block,
    'grid': grid,
    'inline-grid': inline-grid,
    'table': table,
    'table-cell': table-cell,
    'table-row': table-row,
    'none': none,
);

@each $name, $display in $displays {
    .d-#{$name} {
        display: $display;
    }

    .md\:d-#{$name} {
        @media (max-width: 768px) {
            display: $display !important;
        }
    }
}

// flex
$flex-directions: (
    'row': row,
    'row-reverse': row-reverse,
    'column': column,
    'column-reverse': column-reverse,
);

@each $name, $direction in $flex-directions {
    .flex-#{$name} {
        flex-direction: $direction;
    }

    .md\:flex-#{$name} {
        @media (max-width: 768px) {
            flex-direction: $direction !important;
        }
    }
}

$flex-wraps: (
    'nowrap': nowrap,
    'wrap': wrap,
    'wrap-reverse': wrap-reverse,
);

@each $name, $wrap in $flex-wraps {
    .flex-#{$name} {
        flex-wrap: $wrap;
    }

    .md\:flex-#{$name} {
        @media (max-width: 768px) {
            flex-wrap: $wrap !important;
        }
    }
}

$flex-justifies: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'between': space-between,
    'around': space-around,
    'unset': unset,
);

@each $name, $justify in $flex-justifies {
    .content-#{$name} {
        justify-content: $justify;
    }

    .md\:content-#{$name} {
        @media (max-width: 768px) {
            justify-content: $justify !important;
        }
    }
}

$flex-aligns: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'baseline': baseline,
    'stretch': stretch,
    'unset': unset,
);

@each $name, $align in $flex-aligns {
    .items-#{$name} {
        align-items: $align;
    }

    .md\:items-#{$name} {
        @media (max-width: 768px) {
            align-items: $align !important;
        }
    }
}

$flex-aligns: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'baseline': baseline,
    'stretch': stretch,
    'unset': unset,
);

@each $name, $align in $flex-aligns {
    .self-#{$name} {
        align-self: $align;
    }

    .md\:self-#{$name} {
        @media (max-width: 768px) {
            align-self: $align !important;
        }
    }
}

// position
$positions: (
    'static': static,
    'relative': relative,
    'absolute': absolute,
    'fixed': fixed,
    'sticky': sticky,
);

@each $name, $position in $positions {
    .position-#{$name} {
        position: $position;
    }
}

// spacing
$spacings: (
    'auto': auto,
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '7': 1.75rem,
    '8': 2rem,
    '9': 2.25rem,
    '10': 2.5rem,
    '11': 2.75rem,
    '12': 3rem,
    '13': 3.25rem,
    '14': 3.5rem,
    '15': 3.75rem,
    '16': 4rem,
    '17': 4.25rem,
    '18': 4.5rem,
    '19': 4.75rem,
    '20': 5rem,
    '21': 5.25rem,
    '22': 5.5rem,
    '23': 5.75rem,
    '24': 6rem,
    '25': 6.25rem,
    '26': 6.5rem,
    '27': 6.75rem,
    '28': 7rem,
    '29': 7.25rem,
    '30': 7.5rem,
    '31': 7.75rem,
    '32': 8rem,
    '33': 8.25rem,
    '34': 8.5rem,
    '35': 8.75rem,
    '36': 9rem,
    '37': 9.25rem,
    '38': 9.5rem,
    '39': 9.75rem,
    '40': 10rem,
    '41': 10.25rem,
    '42': 10.5rem,
    '43': 10.75rem,
    '44': 11rem,
    '45': 11.25rem,
    '46': 11.5rem,
    '47': 11.75rem,
    '48': 12rem,
    '49': 12.25rem,
    '50': 12.5rem,
    '51': 12.75rem,
    '52': 13rem,
    '53': 13.25rem,
    '54': 13.5rem,
    '55': 13.75rem,
    '56': 14rem,
);

@each $name, $spacing in $spacings {
    .m-#{$name} {
        margin: $spacing;
    }

    .mt-#{$name} {
        margin-top: $spacing;
    }

    .mr-#{$name} {
        margin-right: $spacing;
    }

    .mb-#{$name} {
        margin-bottom: $spacing;
    }

    .ml-#{$name} {
        margin-left: $spacing;
    }

    .mx-#{$name} {
        margin-left: $spacing;
        margin-right: $spacing;
    }

    .my-#{$name} {
        margin-top: $spacing;
        margin-bottom: $spacing;
    }

    .p-#{$name} {
        padding: $spacing;
    }

    .pt-#{$name} {
        padding-top: $spacing;
    }

    .pr-#{$name} {
        padding-right: $spacing;
    }

    .pb-#{$name} {
        padding-bottom: $spacing;
    }

    .pl-#{$name} {
        padding-left: $spacing;
    }

    .px-#{$name} {
        padding-left: $spacing;
        padding-right: $spacing;
    }

    .py-#{$name} {
        padding-top: $spacing;
        padding-bottom: $spacing;
    }

    .gap-#{$name} {
        gap: $spacing;
    }

    @media (max-width: 768px) {
        .md\:m-#{$name} {
            margin: $spacing !important;
        }

        .md\:mt-#{$name} {
            margin-top: $spacing !important;
        }

        .md\:mr-#{$name} {
            margin-right: $spacing !important;
        }

        .md\:mb-#{$name} {
            margin-bottom: $spacing !important;
        }

        .md\:ml-#{$name} {
            margin-left: $spacing !important;
        }

        .md\:mx-#{$name} {
            margin-left: $spacing !important;
            margin-right: $spacing !important;
        }

        .md\:my-#{$name} {
            margin-top: $spacing !important;
            margin-bottom: $spacing !important;
        }

        .md\:p-#{$name} {
            padding: $spacing !important;
        }

        .md\:pt-#{$name} {
            padding-top: $spacing !important;
        }

        .md\:pr-#{$name} {
            padding-right: $spacing !important;
        }

        .md\:pb-#{$name} {
            padding-bottom: $spacing !important;
        }

        .md\:pl-#{$name} {
            padding-left: $spacing !important;
        }

        .md\:px-#{$name} {
            padding-left: $spacing !important;
            padding-right: $spacing !important;
        }

        .md\:py-#{$name} {
            padding-top: $spacing !important;
            padding-bottom: $spacing !important;
        }
    }
}

// text decorations
$text-decorations: (
    'none': none,
    'underline': underline,
    'overline': overline,
    'line-through': line-through,
);

@each $name, $text-decoration in $text-decorations {
    .text-#{$name} {
        text-decoration: $text-decoration;
    }
}

// text transforms
$text-transforms: (
    'uppercase': uppercase,
    'lowercase': lowercase,
    'capitalize': capitalize,
    'none': none,
);

@each $name, $text-transform in $text-transforms {
    .text-#{$name} {
        text-transform: $text-transform;
    }
}

// text aligns
$text-aligns: (
    'left': left,
    'center': center,
    'right': right,
    'justify': justify,
);

@each $name, $text-align in $text-aligns {
    .text-#{$name} {
        text-align: $text-align;
    }
}

// curises
$cursor: (
    'auto': auto,
    'default': default,
    'none': none,
    'pointer': pointer,
    'text': text,
    'not-allowed': not-allowed,
);

@each $name, $cursor in $cursor {
    .cursor-#{$name} {
        cursor: $cursor;
    }
}

// z-index
$z-index: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    '10': 10,
);

@each $name, $z-index in $z-index {
    .z-#{$name} {
        z-index: $z-index;
    }
}

// text wrap
$text-wrap: (
    'normal': normal,
    'nowrap': nowrap,
    'pre': pre,
    'pre-line': pre-line,
    'pre-wrap': pre-wrap,
);

@each $name, $text-wrap in $text-wrap {
    .text-#{$name} {
        white-space: $text-wrap;
    }
}

// overflow
$overflow: (
    'visible': visible,
    'hidden': hidden,
    'scroll': scroll,
    'auto': auto,
);

@each $name, $overflow in $overflow {
    .overflow-#{$name} {
        overflow: $overflow;
    }

    .overflow-x-#{$name} {
        overflow-x: $overflow;
    }

    .overflow-y-#{$name} {
        overflow-y: $overflow;
    }
}

// width and height
$widths: (
    'auto': auto,
    'full': 100%,
    'screen': 100vw,
);

@each $name, $width in $widths {
    .w-#{$name} {
        width: $width;
    }

    .min-w-#{$name} {
        min-width: $width;
    }

    .max-w-#{$name} {
        max-width: $width;
    }
}

$heights: (
    'auto': auto,
    'full': 100%,
    'screen': 100dvh,
);

@each $name, $height in $heights {
    .h-#{$name} {
        height: $height;
    }

    .min-h-#{$name} {
        min-height: $height;
    }

    .max-h-#{$name} {
        max-height: $height;
    }
}

// word break
$word-breaks: (
    'normal': normal,
    'all': break-all,
    'keep-all': keep-all,
    'word': break-word,
);

@each $name, $word-break in $word-breaks {
    .break-#{$name} {
        word-break: $word-break;
    }
}

.border-none {
    border: none;
}

.text-one {
    @include font-properties(6rem, 97.2%, -1.8px);

    @media (max-width: 600px) {
        @include font-properties(4.8rem, 97.2%, -1.44px);
    }
}

.text-two {
    @include font-properties(3.2rem, 117%, -0.96px);

    @media (max-width: 600px) {
        @include font-properties(2.56rem, 117%, -0.768px);
    }
}

.text-three {
    @include font-properties(2.1rem, 120%, -0.63px);

    @media (max-width: 600px) {
        @include font-properties(1.68rem, 120%, -0.504px);
    }
}

.text-four {
    @include font-properties(1.8rem, 121.5%, -0.54px);

    @media (max-width: 600px) {
        @include font-properties(1.44rem, 121.5%, -0.432px);
    }
}

.text-five {
    @include font-properties(1.4rem, 121.5%, -0.42px);

    @media (max-width: 600px) {
        @include font-properties(1.12rem, 121.5%, -0.336px);
    }
}

.hover\:link {
    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        @include sizing(0, 2px);
        background-color: var(--secondary-color);
        @include transition(width, 0.3s, ease-in-out);
    }

    &.active::after,
    &:hover::after {
        @include sizing(50%, 2px);
    }
}

.blurry-text {
    color: transparent;
    text-shadow: 0 0 7px var(--text-color);
    @include prefix(user-select, none);
}