@import "tailwindcss";

@theme {
	--font-quicksand: "Quicksand", sans-serif;

	--color-seasalt: #f8f9fa;
	--color-seasalt-100: #29323a;
	--color-seasalt-200: #536475;
	--color-seasalt-300: #8496a8;
	--color-seasalt-400: #bfc8d1;
	--color-seasalt-500: #f8f9fa;
	--color-seasalt-600: #fafbfc;
	--color-seasalt-700: #fbfcfc;
	--color-seasalt-800: #fdfdfd;
	--color-seasalt-900: #fefefe;

	--color-anti-flash_white: #e9ecef;
	--color-anti-flash_white-100: #282f37;
	--color-anti-flash_white-200: #505f6e;
	--color-anti-flash_white-300: #7c8ea0;
	--color-anti-flash_white-400: #b3bec8;
	--color-anti-flash_white-500: #e9ecef;
	--color-anti-flash_white-600: #eef1f3;
	--color-anti-flash_white-700: #f3f4f6;
	--color-anti-flash_white-800: #f7f8f9;
	--color-anti-flash_white-900: #fbfbfc;

	--color-platinum: #dee2e6;
	--color-platinum-100: #272d34;
	--color-platinum-200: #4e5b67;
	--color-platinum-300: #788899;
	--color-platinum-400: #abb6c0;
	--color-platinum-500: #dee2e6;
	--color-platinum-600: #e5e9ec;
	--color-platinum-700: #eceef1;
	--color-platinum-800: #f2f4f5;
	--color-platinum-900: #f9f9fa;

	--color-french_gray: #adb5bd;
	--color-french_gray-100: #202428;
	--color-french_gray-200: #404850;
	--color-french_gray-300: #616d79;
	--color-french_gray-400: #85919d;
	--color-french_gray-500: #adb5bd;
	--color-french_gray-600: #bdc4ca;
	--color-french_gray-700: #ced3d8;
	--color-french_gray-800: #dee1e5;
	--color-french_gray-900: #eff0f2;

	--color-slate_gray: #6c757d;
	--color-slate_gray-100: #161819;
	--color-slate_gray-200: #2c2f32;
	--color-slate_gray-300: #41474b;
	--color-slate_gray-400: #575e64;
	--color-slate_gray-500: #6c757d;
	--color-slate_gray-600: #899199;
	--color-slate_gray-700: #a7adb2;
	--color-slate_gray-800: #c4c8cc;
	--color-slate_gray-900: #e2e4e5;

	--color-outer_space: #495057;
	--color-outer_space-100: #0e1011;
	--color-outer_space-200: #1d2022;
	--color-outer_space-300: #2b2f34;
	--color-outer_space-400: #3a3f45;
	--color-outer_space-500: #495057;
	--color-outer_space-600: #68727d;
	--color-outer_space-700: #8c959f;
	--color-outer_space-800: #b2b9bf;
	--color-outer_space-900: #d9dcdf;

	--color-onyx: #343a40;
	--color-onyx-100: #0b0c0d;
	--color-onyx-200: #15171a;
	--color-onyx-300: #202327;
	--color-onyx-400: #2a2f34;
	--color-onyx-500: #343a40;
	--color-onyx-600: #58626c;
	--color-onyx-700: #7d8995;
	--color-onyx-800: #a9b0b8;
	--color-onyx-900: #d4d8dc;

	--color-eerie_black: #212529;
	--color-eerie_black-100: #070808;
	--color-eerie_black-200: #0e0f11;
	--color-eerie_black-300: #141719;
	--color-eerie_black-400: #1b1f22;
	--color-eerie_black-500: #212529;
	--color-eerie_black-600: #49525b;
	--color-eerie_black-700: #6f7d8b;
	--color-eerie_black-800: #9fa8b2;
	--color-eerie_black-900: #cfd4d8;
}

body {
	font-family: "Quicksand", sans-serif;
	@apply bg-french_gray-900 dark:bg-eerie_black-100;
}

pre {
	@apply bg-french_gray-800 dark:bg-eerie_black-300 my-4 overflow-auto p-4;
}
